.fifth-section {
	width: 100%;
	background-color: var(--beige);
	min-height: 612px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-bottom: 5px;
 }
 .fifth-section__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
 }
 .fifth-section__item {
	margin: 30px;
	position: relative;
}
.fifth-section__item-img1 {
	position: absolute;
	right: 0%;
	top: -20%;
	z-index: 0;
	
}
.fifth-section__item-img2 {
	position: absolute;
	right: -15%;
	bottom: -53%;
	z-index: 2;
}
.fifth-section__item-title {
	text-transform: uppercase;
	font-size: 20px;

}
.fifth-section__item-description {
	font-style: var(--font-roboto);
	font-size: 29px;
	line-height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 600px;
	z-index: 1;
}
#layer1 { z-index: 1; }
#layer2 { z-index: 2; }
#layer3 { z-index: 3; }