.fifth-section {
	width: 100%;
	background-color: var(--beige);
	min-height: 612px;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
 }
 .fifth-section__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
 }
 .fifth-section__item {
	flex: 1 1 380px;
	margin: 30px;
	flex-wrap: wrap;
	vertical-align: middle;
	
	
}
.fifth-section__item-title {
	text-transform: uppercase;

}
.fifth-section__item-description {
	font-style: var(--font-roboto);
	font-size: 22px;
	line-height: 35px;
	margin-top: 20px;
	margin-bottom: 15px;
	max-width: 500px;
}