.first-section {
  width: 100%;
  background-color: var(--orange);
  min-height: 612px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.first-section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-section__info {
  width: 35%;
  padding-right: 15px;
}

.first-section__info .title {
  font-size: 60px;
  line-height: 70px;
}

.first-section__info .description {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
}

.first-section__info .button {
  margin-top: 30px;
}

.first-section__image {
  width: 80%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.first-section__image img {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
}

.first-section__image-navigate {
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.first-section__image-navigate i {
  font-size: 25px;
  line-height: 25px;
  cursor: pointer;
}

.first-section__image-navigate .fa-arrow-left {
  margin-right: 30px;
}

@media (max-width: 992px) {
  .first-section__info .title {
    font-size: 40px;
    line-height: 55px;
  }
}

@media (max-width: 768px) {
  .first-section__content {
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
  }

  .first-section__image {
    width: 100%;
    margin-top: 20px;
  }

  .first-section__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .first-section__info .title {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .first-section {
    padding: 0 15px;
  }
}