.footer {
	width: 100%;
	padding-bottom: 100px;
}
.footer-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-top__title {
	padding-top: 30px;
	font-size: 60px;
	text-transform: uppercase;
}
.footer-top__text {
	font-size: 30px;
	padding-bottom: 20px;
}
.footer-top__button {
	border-radius: 10px;
	text-transform: uppercase;
	padding-bottom: 80px;
}
.footer-bottom__items {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.footer-bottom__item {
	flex: 1 1 300px;
	display: flex;
	flex-direction: column;
}
.footer-bottom__item-last {
	padding-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-bottom__item-last i {
	font-size: 40px;
	margin: 5px;
}
.footer-bottom__item-title {
	font-size: 20px;
	margin-left: 0px;
}
.footer-bottom__item-content {
	margin-top: 25px;
}
.footer-bottom__item-content a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 0px;
}
.footer-bottom__text {
	font-size: 20px;
	margin-top: 40px;
}
@media (max-width: 992px) {
	.footer-top__title {
		font-size: 40px;
	}
	.footer-top__text {
		font-size: 20px;
	}
	.footer-top__button {
		font-style: 10px;
	}
	.footer__logo {
		margin-right: 20px;
	}
	.footer-bottom__item-title {
		font-size: 15px;
	}
	.footer-bottom__item-content a {
		font-size: 10px;
		line-height: 10px;
	}
	.footer-bottom__item-last i {
		font-size: 25px;
	}
	.footer-bottom__text {
		font-size: 15px;
		margin-top: 30px;
	}
 }
@media (max-width: 770px) {
	.footer__logo {
		sixe: 50%;
	}
	.footer {
		padding-bottom: 40px;
	}
	.footer-bottom__items {
		flex-direction: column;
		display: flex;
		justify-content: flex-start;
	}
	.footer-top__button {
		padding-bottom: 40px;
	}
	.footer-bottom__item {
		flex: 1 1 auto;
		margin: 10px;
	}
	.footer-bottom__item-last {
		padding-top: 5px;
		justify-content: flex-start;
	}
	.footer-bottom__item-content {
		margin-top: 13px;
	}
	.footer-bottom__text {
		margin-top: 0px;
	}
}
@media (max-width: 550px) {
	.footer__logo {
		display: none;
	}