.fourth-section {
	width: 100%;
	background-color: var(--beige);
	min-height: 612px;
	margin-bottom: 30px;
}
.fourth-section__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px;
}
.fourth-section__item {
	flex: 1 1 330px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 20px;
	flex-wrap: wrap;
	border: 1px solid black;
	border-radius: 20px;
	align-items: center;
}

.fourth-section__item-img {
	display: block;
	max width: 100%;
	border-radius: 10px;
	margin: 15px;
}
.fourth-section__item-title {
	text-align: center;
	font-size: 40px;
	line-height: 45px;
	font-family: var(--font-roboto);
	margin: 10px;
}
.fourth-section__description {
	margin: 15px;
	text-align: center;
}


@media (max-width: 1400px) {
	.fourth-section__item {
		flex: 1 1 230px;
	}
}
@media (max-width: 1200px) {
	.fourth-section__items {
		flex-direction: column;
	}
}