.second-section {
	width: 100%;
	background-color: var(--beige);
	min-height: 673px;
	display: flex;
	align-items: center;
}

.second-section__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second-section__image {
	width: 60%;
	padding-right: 15px;
}

.second-section__info {
	font: var(--font-roboto);
	width: 50%;
	padding-left: 15px;
	font-size: 25px;
}

.second-section__button {
	margin-top: 30px;
	font-style: normal;
}