.shopPastryKits {
	width: 100%;
	background-color: var(--beige);
	min-height: 612px;
	margin-bottom: 30px;
}

.shopPastryKits__title {
	text-align: center;
	font-size: 29px;
	line-height: 56px;
	font-family: var(--font-roboto);
	margin-bottom: 20px;
}

.shopPastryKits__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.shopPastryKits__item-img {
	display: block;
	height: 10%;
	border-radius: 20px;
}