.shopPastryKits {
	width: 100%;
	background-color: var(--beige);
	min-height: 612px;
	margin-bottom: 10px;
}

.shopPastryKits__title {
	text-align: center;
	font-size: 29px;
	line-height: 56px;
	font-family: var(--font-roboto);
	margin-bottom: 20px;
}

.shopPastryKits__item{
	flex: 1 1 320px;
	margin: 20px;
	flex-wrap: wrap;
}

.shopPastryKits__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 1400px;
}

.shopPastryKits__item-img {
	display: block;
	max width: 100%;
	border-radius: 20px;
	margin-bottom: 10px;
}

.shopPastryKits__item-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}
.shopPastryKits__item-price {
	text-transform: uppercase;
}

.shopPastryKits__button {
	margin-top: 10px;
}

@media (max-width: 1210px) {
	.shopPastryKits__items {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 15px;
		flex-direction: column;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.shopPastryKits__item-title {
		font-size: 23px;
	   line-height: 25px;
	}
	.shopPastryKits__item-price {
		font-size: 23px;
	   line-height: 25px;
	}
}