.sixth-section {
	width: 100%;
	background-color: white;
 }
 .sixth-section__title {
	font-size: 35px;
	text-align: center;
	line-height: 60px;
	padding-top: 60px;
	padding-bottom: 40px;
	font-family: var(--font-roboto);
 }
 .sixth-section__items {
	 display: flex;
	 justify-content: space-between;
	 padding-bottom: 40px;
 }
 .sixth-section__item {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
 }
 .sixth-section__item:first-child {
	margin-left: -40px;
 }
 .sixth-section__item:last-child {
	margin-right: -40px;
}