.third-section {
	background-color: white;
	padding-top: 50px;
	background: url(images/third-section.png) no-repeat center center fixed;
   background-size: cover;
}
.third-section__image {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}